
#slider {
    width: 80%;
    max-width: 800px;
    height: 100vw;
    max-height: 300px;
    position: relative;
    margin: 1em auto; 
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 500ms;
}

#slider img.selected { 
    opacity: 1;
}

#images
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#images img
{
    padding: 0px;

    min-width: 230px;
    max-width: 230px;

    min-height: 230px;
    max-width: 230px;

    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#images img:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}